[Unit]
Description=MDM Flask Backend API Service
After=network.target

[Service]
Type=simple
User=microm
WorkingDirectory=/opt/nanohub
ExecStart=/bin/bash -c 'source /opt/nanohub/environment.sh && /opt/nanohub/venv/bin/python3 /opt/nanohub/backend_api/mdm-flask-api_wrappper.py'
Restart=always

[Install]
WantedBy=multi-user.target
